.basket {
  padding: 13px 16px 20px;
  background-color: var(--pink);
  position: relative;
}

.basket a {
  text-decoration: none;
}

.hr {
  margin: 14px 0;
}

.title {
  text-align: center;
  margin: 20px 0 16px;
  font-size: 18px;
  font-weight: 600;
}

.button {
  margin-top: 22px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(255 255 255 / 70%);
  top: 0;
  left: 0;
}

@media all and (max-width: 767px) {
  .basket {
    padding: 20px 24px;
  }
}
