body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  outline: none;
}

p {
  margin: 0;
}

.restaurant {
  margin-top: 32px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.restaurant div {
  margin-right: 32px;
}

.reviews {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product {
  margin-bottom: 32px;
}

.product:last-child {
  margin-bottom: 0;
}
